{% extends 'django_app1/base.html' %}

{% block info %}
<h1>Create task</h1>
<form method = "post">
    {% csrf_token %}
    {{ form.name }}
    {{ form.href }}
    <button type = "submit">Add character</button>
</form>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Pricing</h1>
      <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
</div>

{% endblock %}